@keyframes drop {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--purple);
  justify-content: center;

  .ingameContainer {
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 0 calc((100% - 336px) / 2);
    place-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    .navContainer {
      width: 100%;
      height: 40px;
      margin: 4% 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navButton {
        width: 108px;
        height: 39px;
        border: none;
        border-radius: 20px;
        background-color: var(--dark-purple);
        font-weight: var(--font-weight-heading);
        font-size: var(--font-size-heading-xs);
        line-height: var(--line-height-heading-xs);
        color: var(--white);
        cursor: pointer;

        &:hover {
          background-color: var(--red);
        }
      }

      .logo {
        width: 40px;
        height: 40px;
      }
    }

    .scoreboardsContainer {
      width: 100%;
      margin-bottom: 4%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .scoreContainer {
        height: 81px;
        position: relative;

        .playerIcon {
          position: absolute;
          width: 48px;
          height: 48px;
          top: 14px;
        }

        .iconLeft {
          left: -23px;
        }

        .iconRight {
          right: -23px;
        }

        .nameScoreContainer {
          width: 150px;
          height: 81px;
          background-color: var(--white);
          border: 3px solid var(--black);
          border-bottom: 10px solid var(--black);
          border-radius: 20px;
          padding: 10px 35px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1.5px;

          .playerName {
            font-weight: var(--font-weight-heading);
            font-size: var(--font-size-heading-xs);
            line-height: var(--line-height-heading-xs);
          }

          .score {
            font-weight: var(--font-weight-heading);
            font-size: 32px;
            line-height: var(--line-height-heading-m);
          }
        }
      }
    }

    .gameBoardContainer {
      position: relative;
      width: 336px;
      height: 320px;
      border-radius: 20px;
      box-sizing: content-box;

      .gameBoardBack {
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: url(/assets/images/board-layer-black-small.svg);
        background-repeat: no-repeat;
        /* visibility: hidden; */
      }

      .gameBoardMiddle {
        z-index: 1;
        position: absolute;
        top: 3%;
        left: 2%;
        width: 96%;
        height: 88%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4.65px;
        row-gap: 0;
        /* outline: 2px solid red; */

        .square {
          /* outline: 1px solid yellow; */
          position: relative;
          width: 13%;
          height: 16%;
          display: flex;
          justify-content: center;
          align-items: center;

          .piece {
            width: 48px;
            height: 48px;

            .pieceImage {
              width: 100%;
              height: 100%;
            }
          }

          .dropAnimation {
            animation: drop 0.2s ease-out;
          }

          .circle {
            z-index: 1;
            position: absolute;
            top: 41%;
            left: 50%;
            width: 52%;
            height: 45%;
            border-radius: 50%;
            border: 7px solid white;
            transform: translate(-50%, -50%);
            opacity: 0;
            animation: fadeIn 0.5s linear forwards;
            animation-delay: 0.2s;
          }
        }
      }

      .gameBoardFront {
        /* display: none; */
        /* visibility: hidden; */
        /* outline: 1px solid orange; */
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/assets/images/board-layer-white-small.svg);
        background-repeat: no-repeat;
      }

      .gameBoardSurface {
        /* outline: 1px dotted pink; */
        z-index: 4;
        position: absolute;
        top: 3%;
        left: 2%;
        width: 96%;
        height: 88%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4.84px;

        .column {
          /* outline: 2px solid green; */
          width: 13%;
          height: 100%;
          display: flex;
          justify-content: center;

          .marker {
            width: 30px;
            height: 21px;
            margin-top: -25px;
          }
        }
      }
    }

    .playerTurn {
      position: relative;
      z-index: 3;
      width: 180px;
      height: 150px;
      padding: 35px 30px 16px;
      background-size: cover;
      background-repeat: no-repeat;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2px;
      margin: -30px auto 0;

      .currentPlayer {
        font-weight: var(--font-weight-heading);
        font-size: var(--font-size-heading-xs);
        line-height: var(--line-height-heading-xs);
        width: 129px;
        text-align: center;
      }

      .timer {
        font-weight: var(--font-weight-heading);
        font-size: var(--font-size-heading-l);
        line-height: var(--line-height-heading-l);
      }

      .yellow {
        color: var(--orange);
        -webkit-text-stroke: 1px var(--white);
      }

      .red {
        color: #fe2828;
        -webkit-text-stroke: 1px var(--white);
      }
    }

    .leftTurn {
      background-image: url(/assets/images/turn-background-red.svg);
      color: var(--white);
    }

    .rightTurn {
      background-image: url(/assets/images/turn-background-yellow.svg);
      color: var(--black);
    }

    .resultContainer {
      position: relative;
      z-index: 3;
      width: 235px;
      height: 160px;
      background-color: var(--white);
      border: 3px solid var(--black);
      border-bottom: 10px solid var(--black);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin: -32px auto 0;

      .playerName {
        font-weight: var(--font-weight-heading);
        font-size: var(--font-size-heading-xs);
        line-height: var(--line-height-heading-xs);
      }

      .result {
        font-weight: var(--font-weight-heading);
        font-size: var(--font-size-heading-l);
        line-height: var(--line-height-heading-l);
        line-height: 3.5rem;
      }

      .restartButtonResult {
        font-weight: var(--font-weight-heading);
        font-size: var(--font-size-heading-xs);
        line-height: var(--line-height-heading-xs);
        background-color: var(--dark-purple);
        color: var(--white);
        width: 130px;
        height: 35px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }

  .underlay {
    z-index: 1;
    position: absolute;
    top: 450px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-purple);
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
  }

  .leftWins {
    background-color: var(--red);
  }

  .rightWins {
    background-color: var(--yellow);
  }
}

@media (min-width: 641px) {
  .background {
    .ingameContainer {
      width: 633px;
      margin-top: 30px;
      padding: 0;

      .navContainer {
        padding: 0 2px; /* for the foucus line to be fully visible */

        .navButtonMenu {
          width: 86px;
          margin-right: 22px;
        }

        .logo {
          width: 52px;
          height: 52px;
        }
      }

      .scoreboardsContainer {
        height: 100px;
        justify-content: center;
        gap: 40px;

        .scoreContainer {
          height: 100%;

          .playerIcon {
            top: 26px;
          }

          .iconLeft {
            left: -25px;
          }

          .iconRight {
            right: -25px;
          }

          .nameScoreContainer {
            width: 272px;
            height: 100%;
            flex-direction: row;

            .playerName {
              font-weight: var(--font-weight-heading);
              font-size: var(--font-size-heading-s);
              line-height: var(--line-height-heading-s);
            }

            .score {
              font-weight: var(--font-weight-heading);
              font-size: var(--font-size-heading-l);
              line-height: var(--line-height-heading-l);
            }
          }
        }

        .leftScoreContainer {
          .nameScoreContainer {
            .playerName {
              position: absolute;
              left: 44px;
            }

            .score {
              position: absolute;
              right: 40px;
            }
          }
        }

        .rightScoreContainer {
          .nameScoreContainer {
            flex-direction: row-reverse;

            .playerName {
              position: absolute;
              right: 44px;
            }

            .score {
              position: absolute;
              left: 40px;
            }
          }
        }
      }

      .gameBoardContainer {
        width: 632px;
        height: 600px;

        .gameBoardBack {
          background-image: url(/assets/images/board-layer-black-large.svg);
          /* visibility: hidden; */
        }

        .gameBoardMiddle {
          top: 3%;
          left: 1.5%;
          width: 101%;
          height: 88%;
          column-gap: 5px;
          row-gap: 0;
          /* outline: 1px solid red; */

          .square {
            /* outline: 1px solid yellow; */

            .piece {
              width: 90px;
              height: 90px;
            }

            .circle {
              top: 43%;
              left: 51%;
              width: 45%;
              height: 40%;
            }
          }
        }

        .gameBoardFront {
          /* visibility: hidden; */
          /* outline: 1px solid orange; */
          background-image: url(/assets/images/board-layer-white-large.svg);
        }

        .gameBoardSurface {
          column-gap: 9.12px;
          .column {
            .marker {
              width: 42px;
              height: 38px;
              margin-top: -45px;
            }
          }
        }
      }

      .playerTurn {
        margin-top: -60px;
      }

      .resultContainer {
        margin-top: -60px;
      }
    }

    .underlay {
      top: 790px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
    }
  }
}

@media (min-width: 1025px) {
  .background {
    .ingameContainer {
      width: 1000px;
      margin-top: 50px;

      .scoreboardsContainer {
        width: 100%;
        position: absolute;
        top: 296px;
        justify-content: space-between;
        gap: 0;

        .scoreContainer {
          .playerIcon {
            width: 54px;
            height: 59px;
            top: -27px;
          }

          .iconLeft {
            left: 55px;
          }

          .iconRight {
            right: 55px;
          }

          .nameScoreContainer {
            width: 165px;
            height: 187px;
            flex-direction: column;
            padding-top: 40px;

            .playerName {
              position: unset;
            }

            .score {
              position: unset;
            }
          }
        }
      }

      .gameBoardContainer {
        margin-top: 50px;

        .gameBoardSurface {
          .column {
            .marker {
              width: 45px;
              height: 40px;
              margin-top: -48px;
            }
          }
        }
      }
    }
  }
}
