.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    padding: 30px 20px;
    background-color: var(--purple);
    border: 3px solid var(--black);
    border-bottom: 10px solid var(--black);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title {
      font-weight: var(--font-weight-heading);
      font-size: var(--font-size-heading-l);
      line-height: var(--line-height-heading-l);
      color: var(--white);
    }

    .button {
      font-family: var(--font-primary);
      font-weight: var(--font-weight-heading);
      font-size: var(--font-size-heading-m);
      line-height: var(--line-height-heading-m);
      width: 100%;
      border: 3px solid var(--black);
      border-bottom: 10px solid var(--black);
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      cursor: pointer;

      &:hover {
        border-color: var(--dark-purple);
      }
    }

    .quit {
      background-color: var(--red);
      color: var(--white);
    }
  }
}

@media (min-width: 641px) {
  .modal {
    .content {
      width: 480px;
    }
  }
}
