.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--purple);
  overflow-y: auto;
  padding: 20px 0;

  .container {
    width: 335px;
    height: 586px;
    margin: auto;
    border: 3px solid var(--black);
    border-bottom: 10px solid var(--black);
    border-radius: 40px;
    padding: 30px 20px 60px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;

    .mainHeader {
      font-weight: var(--font-weight-heading);
      font-size: var(--font-size-heading-l);
      line-height: var(--line-height-heading-l);
      text-align: center;
      margin-bottom: 29px;
    }

    .subHeader {
      font-weight: var(--font-weight-heading);
      font-size: var(--font-size-heading-s);
      line-height: var(--line-height-heading-s);
      color: var(--purple);
      margin-bottom: 16px;
    }

    .objective {
      font-weight: var(--font-weight-body);
      font-size: var(--font-size-body);
      line-height: var(--line-height-body);
      color: var(--black);
      margin-bottom: 33px;
    }

    .ruleSet {
      list-style: none;
      padding-left: 0;
      counter-reset: rule-counter;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .description {
        counter-increment: rule-counter;
        font-weight: var(--font-weight-body);
        font-size: var(--font-size-body);
        line-height: var(--line-height-body);
        color: var(--black);
        padding-left: 19px;
        position: relative;

        &::before {
          content: counter(rule-counter);
          font-weight: var(--font-weight-heading);
          font-size: var(--font-size-heading-xs);
          line-height: var(--line-height-heading-xs);
          position: absolute;
          left: 0;
        }
      }
    }

    .button {
      width: 64px;
      height: 64px;
      margin: 13px auto;
      background-color: transparent;
      border: none;
      cursor: pointer;

      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (min-width: 641px) {
  .background {
    .container {
      width: 480px;
      height: 537px;
      padding: 30px 34px 54px;

      .objective {
        margin-bottom: 29px;
      }

      .button {
        margin: 10px auto;
      }
    }
  }
}
